body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}
section {
  margin-left: 20px;
}
section article h1 {
  font-size: 28px;
}
section article p {
  font-style: italic;
}
section p {
  font-size: 24px;
}
